################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SomiodAPI/SomiodWebApplication/App_Data/DBSomiod_log.ldf
*.mdf
*.ldf
